---
import ExperienceTimeLine from "../components/ExperienceTimeLine.astro";
import HeroSection from "../components/HeroSection.astro";
import SectionContainer from "../components/SectionContainer.astro";
import TechStackSection from "../components/TechStackSection.astro";
import BriefcaseIcon from "../components/icons/BriefcaseIcon.astro";
import GearIcon from "../components/icons/GearIcon.astro";
import Layout from "../layout/Layout.astro";
---

<Layout 
	title="Facu's Portfolio - Software Developer" 
	desc="Contrata a Facundo para desarrolar tu sitio web.">
	<main class="px-4">
		<SectionContainer class="pt-10 pb-24">
			<HeroSection/>
		</SectionContainer>
		<SectionContainer id="exp" class="pb-24">
			<div class="flex flex-row items-center mb-6">
				<BriefcaseIcon class="size-6"/>
				<h2 class="text-2xl font-bold ml-2">Experiencia Laboral</h2>
			</div>
			<ExperienceTimeLine/>
		</SectionContainer>
		<SectionContainer id="techs" class="pb-24">
			<div class="flex flex-row items-center mb-6">
				<GearIcon class="size-6"/>
				<h2 class="text-2xl font-bold ml-2">Tecnologías</h2>
			</div>
			<TechStackSection/>
		</SectionContainer>
	</main>
</Layout>
