
---

import ExperienceItem from "./ExperienceItem.astro"

const EXPERIENCE = [
    {
        date: "Feb 2024 – Present",
        title: "Ssr Full Stack Developer",
        company: "Prosocial (USA)",
        desc: [
            "Led the maintenance and updates of multiple applications using Angular, Java, and MongoDB.",
            "Implemented system integrations with AWS, Auth0, Salesforce, Stripe, and Zoom."
        ],
        techStack: ["Angular", "Java", "MongoDB", "AWS", "Auth0", "Salesforce"]
    },
    {
        date: "Oct 2023 – Feb 2024",
        title: "Software Developer",
        company: "BeeReal (ARG)",
        desc: [
            "Developed a high-performance landing page using Next.js, Tailwind CSS, and Strapi.",
            "Emphasized accessibility, user experience, and optimization for mobile devices."
        ],
        techStack: ["Next.js", "Tailwind CSS", "Strapi"]
    },
    {
        date: "Aug 2022 – Oct 2023",
        title: "Full Stack Developer",
        company: "OSPRERA (ARG)",
        desc: [
            "Maintained and updated internal web applications for a health insurance provider using Angular and .NET Core.",
            "Conducted testing with MS Test, ensuring high-quality releases."
        ],
        techStack: ["Angular", ".NET Core", "SQL Server", "MS Test"]
    },
    {
        date: "Oct 2021 – Aug 2022",
        title: "Full Stack Developer",
        company: "Hipódromo de Chile (CHL)",
        desc: [
            "Collaborated with the IT team to develop various web applications and REST APIs.",
            "Utilized Angular with Material Design and .NET Core for backend services."
        ],
        techStack: ["Angular", "Material Design", ".NET Core", "Entity Framework"]
    }
];

---

<ol class="relative border-s border-gray-200 dark:border-gray-700">
    {
        EXPERIENCE.map(experience => (
            <li class="mb-10">
                <ExperienceItem {...experience}/>
            </li>            
        ))
    }                  
</ol>

