---
import TechContainer from "./TechContainer.astro";
import AngularIcon from "./icons/AngularIcon.astro";
import DockerIcon from "./icons/DockerIcon.astro";
import DotNetIcon from "./icons/DotNetIcon.astro";
import GitIcon from "./icons/GitIcon.astro";
import MongoDbIcon from "./icons/MongoDbIcon.astro";
import NextJsIcon from "./icons/NextJsIcon.astro";
import PostmanIcon from "./icons/PostmanIcon.astro";
import SQLServerIcon from "./icons/SQLServerIcon.astro";
---

<div class="grid grid-cols-2 md:grid-cols-3 gap-x-4 gap-y-12 pt-2">
    <TechContainer class="items-center justify-center border-1 border-white">
        <AngularIcon class="size-16"/>
        <span>Angular</span>
    </TechContainer>
    <TechContainer>
        <DotNetIcon class="size-16"/>
        <span>.NET Core</span>
    </TechContainer>	
    <TechContainer>
        <NextJsIcon class="size-16"/>
        <span>NextJS</span>
    </TechContainer>
    <TechContainer>
        <SQLServerIcon class="size-16"/>
        <span>SQL Server</span>
    </TechContainer>
    <TechContainer>
        <MongoDbIcon class="size-16"/>
        <span>MongoDB</span>
    </TechContainer>
    <TechContainer>
        <GitIcon class="size-16"/>
        <span>Git</span>
    </TechContainer>
    <TechContainer>
        <DockerIcon class="size-16"/>
        <span>Docker</span>
    </TechContainer>
    <TechContainer>
        <PostmanIcon class="size-16"/>
        <span>Postman</span>
    </TechContainer>			
</div>